Instacart bill splitter\code development\instacart webscrapper + interactive interface in panel\Development of panel interface\.ipynb_checkpoints
Instacart bill splitter\code development\instacart webscrapper + interactive interface in panel\Development of panel interface\__pycache__

Instacart bill splitter\code development\instacart webscrapper + interactive interface in panel\pdf_scarpper\.ipynb_checkpoints
Instacart bill splitter\code development\instacart webscrapper + interactive interface in panel\webscrapper\.ipynb_checkpoints

